/* Kumbh+Sans Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --text-color: #4d4e4f;
    --heading-color: #181818;
    --black-color: #000;
    --white-color: #fff;
    --btn-hover: #e43131;
    --font-light: 100;
    --font-normal: 400;
    --font-500: 500;
    --font-600: 600;
    --font-bold: 700;
    --font-extra-bold: 900;
    --remix-family: 'Remix Icon';
    /* Correct font-family for Remix Icons */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

p {
    font-size: 1rem;
    color: #333;
}

ul,
li {
    list-style: none;
}

body {
    font-family: "Kumbh Sans", serif;
    font-weight: 400;
    color: var(--primary-color);
}

/* Navbar Styling Started */
nav {
    align-items: center;
    background-color: var(--primary-color);
}

ul.navbar-nav.mx-auto.mb-2.mb-lg-0 {
    gap: 35px;
    padding: 0px 0px;
}

.navbar-nav .nav-item .nav-link {
    color: var(--heading-color);
    font-size: 17px;
    font-weight: var(--font-600);
    transition: all 0.3s ease;
    line-height: 26px;
}

ul#ulicons {
    gap: 16px;
    align-items: center;
}

#ulicons li a i {
    font-size: 1.5rem;
    font-weight: var(--font-500);
    color: var(--heading-color);
    transition: all 0.3s ease;
}

.banner-inner {
    position: absolute;
    width: 100%;
    text-align: start;
    bottom: 69px;
    left: 39px;
}

.content-slider p {
    color: var(--white-color);
    text-transform: uppercase;
}

.content-slider h1 {
    font-size: 3rem;
    font-weight: var(--font-500);
    color: var(--white-color);
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 88px;
}

.banner-btn a {
    background-color: var(--white-color);
    color: var(--heading-color);
    padding: 14px 28px;
    border-radius: 99px;
    font-weight: var(--font-600);
    transition: all 0.3s ease;
    font-size: 18px;
    line-height: 26px;
    font-weight: var(--font-600);
    text-transform: capitalize;
    padding: 15px 32px;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.banner-btn a:hover {
    color: var(--btn-hover);
    transition: all 0.3s ease;
}

.banner-btn a:hover::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba%28228%2C49%2C49%2C1%29%22%3E%3Cpath%20d%3D%22M16.0037%209.41421L7.39712%2018.0208L5.98291%2016.6066L14.5895%208H7.00373V6H18.0037V17H16.0037V9.41421Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 1px;
    left: 5px;
    transition: all 0.3s ease;


}


/* Category Section Start */
#category_section .category_heading {
    font-weight: var(--font-500);
    font-size: 40px;
    line-height: 48px;
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--heading-color);
}

#category_section .view_all_collection {
    font-weight: 700;
    border: 1px solid var(--heading-color);
    border-width: 0px 0px 2px 0px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 4px;
    font-weight: 600;
}

#category_section .category-img-box {
    position: relative;
    border-radius: 15px;
    /* overflow: hidden; */
}
#category_section .category-img-box img {
    height: 100%;
    width: 84%;
    object-fit: cover;
    border-radius: 20px;
}


#category_section .category-img-box a {
    background-color: var(--primary-color);
    color: var(--heading-color);
    border-radius: 99px;
    padding: 8px 58px;
    z-index: 1;
    font-size: 19px;
    right: 22px;
    position: relative;
    bottom: 61px;
}



#category_section .category-img-box a:hover {
    background-color: #ffffff;
    color: var(--btn-hover);
    transition: all 0.3s ease;
}

#category_section .category-img-box a:hover:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba%28228%2C49%2C49%2C1%29%22%3E%3Cpath%20d%3D%22M16.0037%209.41421L7.39712%2018.0208L5.98291%2016.6066L14.5895%208H7.00373V6H18.0037V17H16.0037V9.41421Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 3px;
    left: 5px;
    fill: #e43131;

}

#category_section .container-fluid {
    width: calc(100vw - (100vw - 1290px) / 2);
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;
   

}



/* Category Section End */



/* Capsule Section Styling Start */

.collection_inner {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}
.collection_inner .capsule_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}
.collection_inner .link {
    position: absolute;
    top: 29px;
    right: 0;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 26px;
    font-weight: var(--font-500);
    color: var(--black-color);
}
.collection_inner span{
    text-transform: uppercase;
    color: var(--btn-hover);
    position: absolute;
    top: 125px;
    /* right: 10; */
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: var(--font-600);
    font-size: 13px;
}
.collection_inner .link:hover {
    color: var(--btn-hover);
    transition: all 0.3s ease;
}
.collection_inner .shop-collection-btn{
    font-weight: bolder;
    border: 1px solid var(--black-color);
    border-width: 0px 0px 2px 0px;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 4px;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    left: 30px;    
}

/* Capsule Section Styling  End*/

/* Instagram Section Styling Start  */
.instagram_inner .insta_heading{
    font-weight: var(--font-500);
    font-size: 40px;
    line-height: 48px;
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--heading-color);
}
.instagram_inner .insta_para{
    font-weight: var(--font-400);
    /* font-size: 20px; */
    line-height: 26px;
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--text-color);
}
.instagram_images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}

/* Instagram Section Styling End  */

/* news insight section styling start */
.insight_inner .insi_heading{
font-weight: var(--font-500);
font-size: 40px;
line-height: 48px;
font-family: "Kumbh Sans", sans-serif;
text-rendering: optimizeLegibility;
color: var(--heading-color);
}
.insight_inner .insi_para{
font-weight: var(--font-400);
line-height: 26px;
font-family: "Kumbh Sans", sans-serif;
text-rendering: optimizeLegibility;
color:rgba(0, 0, 0, 0.63);
}

.insight_images img{
width: 100%;
height: 60%;
object-fit: cover;
border-radius: 10px;
overflow: hidden;
transition: transform 0.3s ease-in-out
}
.insight_images:hover img{
    transform: scale(1.1);
}

.insight_images a h4{
    font-size: large;
}
.insight_images a h4:hover{
color: #e43131;
text-decoration: underline;
}

/* news insight section styling end