/* Kumbh+Sans Google Font link */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css');
@import url('https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffffff;
    --text-color: #4d4e4f;
    --heading-color: #181818;
    --black-color: #000;
    --white-color: #fff;
    --btn-hover: #e43131;
    --font-light: 100;
    --font-normal: 400;
    --font-500: 500;
    --font-600: 600;
    --font-bold: 700;
    --font-extra-bold: 900;
    --remix-family: 'Remix Icon';
    /* Correct font-family for Remix Icons */
}

/* Keyframes for animations */
/* Basic Fade-In */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

/* Fade-Out */
.fade-out {
    opacity: 1;
    animation: fadeOut 2s forwards;
}

/* Fade-Up */
.fade-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 2s forwards;
}

/* Fade-Down */
.fade-down {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeDown 2s forwards;
}

/* Fade-Left */
.fade-left {
    opacity: 0;
    transform: translateX(20px);
    animation: fadeLeft 2s forwards;
}

/* Fade-Right */
.fade-right {
    opacity: 0;
    transform: translateX(-20px);
    animation: fadeRight 2s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: var(--text-color);
}

p {
    font-size: 1rem;
    color: #333;
}

ul,
li {
    list-style: none;
}

body {
    font-family: "Kumbh Sans", serif;
    font-weight: 400;
    color: var(--primary-color);
}

/* Navbar Styling Started */
nav {
    align-items: center;
    background-color: var(--primary-color);
}

ul.navbar-nav.mx-auto.mb-2.mb-lg-0 {
    gap: 35px;
    padding: 0px 0px;
}

.navbar-nav .nav-item .nav-link {
    color: var(--heading-color);
    font-size: 17px;
    font-weight: var(--font-600);
    transition: all 0.3s ease;
    line-height: 26px;
}

ul#ulicons {
    gap: 16px;
    align-items: center;
}

#ulicons li a i {
    font-size: 1.5rem;
    font-weight: var(--font-500);
    color: var(--heading-color);
    transition: all 0.3s ease;
}

.banner-inner {
    position: absolute;
    width: 100%;
    text-align: start;
    bottom: 69px;
    left: 39px;
}

.content-slider p {
    color: var(--white-color);
    text-transform: uppercase;
}

.content-slider h1 {
    font-size: 3rem;
    font-weight: var(--font-500);
    color: var(--white-color);
    line-height: 1.2;
    margin-bottom: 20px;
    font-size: 80px;
    line-height: 88px;
}


.hbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 14px 32px;
    border-radius: 99px;
    text-align: center;
    text-decoration: none;
    color: var(--black-color);
    background-color: var(--white-color);
    white-space: nowrap;
    z-index: 0;
    font-weight: var(--font-600);
    transition: all 0.3s ease;
}



.bnner-btn::before {
    position: absolute;
    content: "";
    background: var(--black-color);
    transition-duration: 0.3s;
    z-index: -1;
    inset: auto auto 0px 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
}


.bnner-btn:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.bnner-btn:hover {
    color: var(--white-color);
    background: var(--black-color);
    transition: color 0.3s, background 0.3s;
    transform: translateX(background, 20px);
}

.bnner-btn:hover::after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M16.0037 9.41421L7.39712 18.0208L5.98291 16.6066L14.5895 8H7.00373V6H18.0037V17H16.0037V9.41421Z'%3E%3C/path%3E%3C/svg%3E");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 6px;
    left: 5px;
    transition: all 0.3s ease;
    line-height: 0;
}


/* Navbar Styling End */
/* Category Section Start */
#category_section .category_heading {
    font-weight: var(--font-500);
    font-size: 40px;
    line-height: 48px;
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--heading-color);
}

#category_section .view_all_collection {
    font-weight: 700;
    border: 1px solid var(--heading-color);
    border-width: 0px 0px 2px 0px;
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 4px;
    font-weight: 600;
}

#category_section .category-img-box {
    position: relative;
    border-radius: 15px;
    /* overflow: hidden; */
}

#category_section .category-img-box img {
    height: 100%;
    width: 84%;
    object-fit: cover;
    border-radius: 20px;

}

.category_img_box_inner {
    overflow: hidden;
}

.category_img_box_inner img {
    transition: transform .8s ease;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.category_img_box_inner:hover img {
    transform: scale(1.05);

}


#category_section .category-img-box a {
    background-color: var(--primary-color);
    color: var(--heading-color);
    border-radius: 99px;
    padding: 8px 58px;
    z-index: 1;
    font-size: 19px;
    right: 22px;
    position: relative;
    bottom: 61px;
    transition: all 0.4s ease;
}



#category_section .category-img-box a:hover {
    background-color: #ffffff;
    color: var(--btn-hover);
    transition: all 0.5s ease-in;

}

#category_section .category-img-box a:hover:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22rgba%28228%2C49%2C49%2C1%29%22%3E%3Cpath%20d%3D%22M16.0037%209.41421L7.39712%2018.0208L5.98291%2016.6066L14.5895%208H7.00373V6H18.0037V17H16.0037V9.41421Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 3px;
    left: 5px;
    fill: #e43131;
    transition: all 0.5s ease-in;
    transition-delay: 0.3s;




}

#category_section .container-fluid {
    width: calc(100vw - (100vw - 1290px) / 2);
    margin-right: unset;
    max-width: 100%;
    margin-left: auto;


}



/* Category Section End */

/* Tab Section Styling  Start */
#myTab {
    justify-content: center;
    gap: 33px;
    font-size: 28px;
    line-height: 42px;
    font-weight: var(--font-400);
    border-bottom: 2px solid black;
    border: none;
}

/* Remove border for all tabs */
.nav-tabs .nav-link {
    border: none !important;
    border-radius: 0 !important;
    color: var(--text-color);
    font-weight: var(--font-400);
    padding: 0;
    transition: all 0.1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* Custom style for active tab */

.nav-tabs .nav-link:hover {
    border-bottom: 2px solid var(--black-color) !important;
    padding: 0;
    color: var(--black-color);


}

.nav-tabs .nav-link.active {
    border: none !important;
    color: var(--black-color);
    border-bottom: 2px solid var(--black-color) !important;
    padding: 0;

}

/* ***Tabs Products Card Styling*** */

.product-image {
    border-radius: 20px;
    object-fit: cover;
}

.product-cards-icons #heart-icon {
    font-size: 20px;
    height: 38px;
    width: 38px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 22px;
    border-radius: 100%;
    opacity: 0;
    transform: translate(20px);
    transition: all 0.2s ease-in;
}

.product-cards-icons #shopping-bag-icon {
    font-size: 20px;
    height: 38px;
    width: 38px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65px;
    right: 22px;
    opacity: 0;
    border-radius: 100%;
    transform: translate(20px);
    transition: all 0.2s ease-in;
}

#tab_section_inner .tab_section_inner_box:hover #heart-icon {
    opacity: 1;
    transform: translate(0px);

}

#tab_section_inner .tab_section_inner_box:hover #shopping-bag-icon {
    opacity: 1;
    transform: translate(0px);

}

.product-cards-btn {
    /* position: relative; */
    display: flex;
    justify-self: center;
    overflow: hidden;
}

.product-cards-btn a {
    background-color: var(--primary-color);
    color: var(--black-color);
    padding: 10px;
    border-radius: 20px;
    display: block;
    text-align: center;
    transition: all 0.4s ease-in;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 170px;
    margin: 0px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: var(--font-400);
    transform: translateY(80px);
    opacity: 0;
    visibility: hidden;
}

.product-cards-btn a:hover {
    background-color: var(--black-color);
    color: var(--primary-color);
    font-weight: var(--font-500);
}

#tab_section_inner .tab_section_inner_box:hover .product-cards-btn a {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition-delay: 0.1s;
}



.sizechart {
    background-color: #ffffff3b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sizechart a {
    padding: 5px 4px;
    color: #000;
    text-decoration: none;
    transition: all 0.4s ease-in;
    font-size: 13px;
    font-weight: var(--font-500);

}

.sizechart-inner {
    position: absolute;
    bottom: 129px;
    background: linear-gradient(148.05deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
    width: 100%;
    padding: 5px;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in;
}

#tab_section_inner .tab_section_inner_box:hover .sizechart-inner {
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease-in;
    transition-delay: 0.1s;
}


#product-content .product-content-inner .product-title {
    font-weight: var(--font-500);
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--heading-color);
}

#product-content .product-content-inner .product-price {
    font-weight: var(--font-600);
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--heading-color);
}

/* ***Tabs Products Card Styling*** */


/* Tab Section Styling End */


/* Capsule Section Styling Start */

.collection_inner {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.collection_inner .capsule_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}



.collection_inner img {
    transition: transform .8s ease;
}


.collection_inner:hover img {
    transform: scale(1.2);
}

.collection_inner .link {
    position: absolute;
    top: 29px;
    right: 0;
    left: 25px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 26px;
    font-weight: var(--font-500);
    color: var(--black-color);
}

.collection_inner span {
    text-transform: uppercase;
    color: var(--btn-hover);
    position: absolute;
    top: 125px;
    /* right: 10; */
    left: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-weight: var(--font-600);
    font-size: 13px;
}

.collection_inner .link:hover {
    color: var(--btn-hover);
    transition: all 0.3s ease;
}

.collection_inner .shop-collection-btn {
    font-weight: bolder;
    border: 1px solid var(--black-color);
    border-width: 0px 0px 2px 0px;
    font-size: 18px;
    line-height: 26px;
    padding-bottom: 4px;
    font-weight: 600;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* Capsule Section Styling  End*/

/* Instagram Section Styling Start  */
.instagram_inner .insta_heading {
    font-weight: var(--font-500);
    font-size: 40px;
    line-height: 48px;
    color: var(--heading-color);
}

.instagram_inner .insta_para {
    font-weight: var(--font-400);
    /* font-size: 20px; */
    line-height: 26px;
    color: var(--text-color);
}

.instagram_images_inner img {

    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    overflow: hidden;
}


.instagram_images_inner {
    overflow: hidden;
}

.instagram_images_inner img {
    transition: transform .8s ease;
}


.instagram_images_inner:hover img {
    transform: scale(1.2);
}


/* Instagram Section Styling End  */

/* news insight section styling start */
.insight_inner .insi_heading {
    font-weight: var(--font-500);
    font-size: 40px;
    line-height: 48px;
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: var(--heading-color);
}

.insight_inner .insi_para {
    font-weight: var(--font-400);
    line-height: 26px;
    font-family: "Kumbh Sans", sans-serif;
    text-rendering: optimizeLegibility;
    color: rgba(0, 0, 0, 0.63);
}

.insight_images img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 20px;


}

.insight_inner_image {
    overflow: hidden;
}

.insight_inner_image img {
    transition: transform .8s ease;
}


.insight_inner_image:hover img {
    transform: scale(1.2);
}

.insight_images a h4 {
    font-size: large;
}

.insight_images a h4:hover {
    color: #e43131;
    text-decoration: underline;
}

/* news insight section styling end*/


/* Support Section Styling Start  */
.icon-box .icon i {
    color: #000;
    font-size: 50px;
}





/* Support Section Styling End */


#support_section .container .row .support_inner .support_inner_box .icon_box .icon i {
    color: #000;
    font-size: 2.1rem;
    font-weight: var(--font-400);

}

#support_section .container .row .support_inner .support_inner_box .icon_box .icon_box_heading {
    font-size: 20px;
    line-height: 28px;
    font-weight: var(--font-500);
}

.icon_box_content {
    padding-top: 12px;
}




/* 
    **ABout Us Page Stlying Start**
*/
/* .carousel-item{
    background-image: url("assets/Images/about_us_banner/page-title.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
#inner_page_banner .carousel .carousel-inner .carousel-item .carousel-caption .inner_page_banner_heading {
    font-weight: var(--font-500);
    font-size: 2.3rem;
    line-height: 48px;
    margin-top: 10px;
}


/* 
    **ABout Us Page Stlying End**
*/